# SPDX-License-Identifier: MIT OR Apache-2.0
export FRITZVIRTUAL_ENABLED='no'
export FRITZVIRTUAL_MQTT_HOST=''
export FRITZVIRTUAL_MQTT_PORT='1883'
export FRITZVIRTUAL_MQTT_USERNAME=''
export FRITZVIRTUAL_MQTT_PASSWORD=''
export FRITZVIRTUAL_BRIDGE_ID='fritz-7530'
export FRITZVIRTUAL_DEBUG='no'
